Repository lima-vm/lima, pull requests merged in 2022-08, with the labels that each got.

#1005 templates: add experimental/opensuse-tumbleweed
  examples/README.md
  examples/experimental/opensuse-tumbleweed.yaml
  pkg/cidata/cidata.TEMPLATE.d/boot/11-colorterm-environment.sh
Labels: guest/opensuse

#1006 nerdctl: update to v0.22.2 ; templates: update archlinux, alpine-lima
  examples/alpine.yaml
  examples/archlinux.yaml
  pkg/limayaml/defaults.go
Labels: guest/archlinux, guest/alpine, component/nerdctl

#1020 CI: update Go (1.19)
  .github/workflows/release.yml
  .github/workflows/test.yml
  go.mod
  pkg/guestagent/iptables/iptables.go
  pkg/limayaml/defaults.go
Labels: area/ci

#1022 CI: update macOS to 12, Ubuntu to 22.04
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: area/ci

#1014 Add aarch64 opensuse tumbleweed
  examples/experimental/opensuse-tumbleweed.yaml
  pkg/cidata/cidata.TEMPLATE.d/boot/30-install-packages.sh
Labels: platform/ARM, guest/opensuse

#1025 templates: add docker-rootful
  examples/README.md
  examples/docker-rootful.yaml
Labels: enhancement, docker

#1026 limactl sudoers: improve --help message
  cmd/limactl/sudoers.go
Labels: component/vmnet

#1037 Set the sandbox_image for the k8s example
  examples/k8s.yaml
Labels: kubernetes
