Repository lima-vm/lima, pull requests merged in 2023-03, with the labels that each got.

#1391 feat: more friendly cli error message
  cmd/limactl/copy.go
  cmd/limactl/debug.go
  cmd/limactl/delete.go
  cmd/limactl/disk.go
  cmd/limactl/edit.go
  cmd/limactl/factory-reset.go
  cmd/limactl/hostagent.go
  cmd/limactl/info.go
  cmd/limactl/list.go
  cmd/limactl/main.go
  cmd/limactl/prune.go
  cmd/limactl/shell.go
  cmd/limactl/show_ssh.go
  cmd/limactl/start.go
  cmd/limactl/stop.go
  cmd/limactl/sudoers.go
  cmd/limactl/validate.go
Labels: area/cli

#1395 Silence kubernetes service watcher failing to find kubeconfig
  pkg/guestagent/kubernetesservice/kubernetesservice.go
Labels: kubernetes

#1398 Run qemu-img info in shared mode for GetInfo
  pkg/qemu/imgutil/imgutil.go
Labels: component/qemu

#1407 Show a user-readable description of the download
  pkg/downloader/downloader.go
  pkg/fileutils/download.go
  pkg/qemu/qemu.go
  pkg/start/start.go
  pkg/vz/disk.go
Labels: enhancement, area/cli

#1424 Adjust table test for longer architectures
  pkg/store/instance_test.go
Labels: area/test

#1425 Tests fail on RISCV64 due to hardcoded AARCH64
  pkg/limayaml/defaults_test.go
Labels: area/test

#1412 Add builtin yq support to limactl edit command
  cmd/limactl/edit.go
  docs/experimental.md
Labels: area/cli

#1405 feat: mount additional disks when using vz
  README.md
  cmd/limactl/disk.go
  docs/internal.md
  pkg/qemu/qemu.go
  pkg/vz/vm_darwin.go
  pkg/vz/vz_driver_darwin.go
Labels: component/vz
