Repository lima-vm/lima, pull requests merged in 2023-08, with the labels that each got.

#1703 qemu: armv7l, aarch64: add pci-serial
  docs/internal.md
  examples/experimental/armv7l.yaml
  pkg/qemu/qemu.go
  pkg/store/filenames/filenames.go
Labels: platform/ARM, component/qemu

#1707 Update docs (hint for `softwareupdate --install-rosetta `, `socketfilterfw --unblock /usr/libexec/bootpd`, more `s/example/template/`)
  README.md
  cmd/limactl/start.go
  docs/network.md
  examples/almalinux-8.yaml
  examples/almalinux-9.yaml
  examples/alpine.yaml
  examples/apptainer-rootful.yaml
  examples/apptainer.yaml
  examples/archlinux.yaml
  examples/buildkit.yaml
  examples/centos-stream-8.yaml
  examples/centos-stream-9.yaml
  examples/debian-11.yaml
  examples/debian-12.yaml
  examples/deprecated/centos-7.yaml
  examples/docker-rootful.yaml
  examples/docker.yaml
  examples/experimental/9p.yaml
  examples/experimental/armv7l.yaml
  examples/experimental/net-user-v2.yaml
  examples/experimental/opensuse-tumbleweed.yaml
  examples/experimental/riscv64.yaml
  examples/experimental/rke2.yaml
  examples/experimental/virtiofs-linux.yaml
  examples/experimental/vz.yaml
  examples/faasd.yaml
  examples/fedora.yaml
  examples/k3s.yaml
  examples/k8s.yaml
  examples/nomad.yaml
  examples/opensuse.yaml
  examples/oraclelinux-8.yaml
  examples/oraclelinux-9.yaml
  examples/podman-rootful.yaml
  examples/podman.yaml
  examples/rocky-8.yaml
  examples/rocky-9.yaml
  examples/ubuntu-lts.yaml
  examples/ubuntu.yaml
  examples/vmnet.yaml
  hack/test-templates/test-misc.yaml
  pkg/vz/rosetta_directory_share_arm64.go
Labels: documentation, component/network/vmnet, component/vz

#1712 CI: debug cache
  .cirrus.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  hack/debug-cache.sh
Labels: area/test

#1710 README.md: typo: "Liam"
  README.md
Labels: documentation

#1709 limactl start: apply edit flags for existing instances
  cmd/limactl/edit.go
  cmd/limactl/editflags/editflags.go
  cmd/limactl/start.go
  pkg/yqutil/yqutil.go
Labels: area/cli

#1717 Fix toc level of VZ generic category
  README.md
Labels: documentation, component/vz

#1718 Run markdownlint on README.md
  .markdownlint.json
  README.md
Labels: documentation

#1723 CI: move Cirrus tests to GHA (larger instances)
  .cirrus.yml
  .github/workflows/test.yml
  examples/archlinux.yaml
Labels: area/test

#1714 limactl start: silence unnecessary hint
  cmd/limactl/start.go
Labels: area/cli

#1730 templates: update CentOS Stream 9, Debian, Ubuntu 23.04
  examples/buildkit.yaml
  examples/centos-stream-9.yaml
  examples/debian-11.yaml
  examples/debian-12.yaml
  examples/default.yaml
  examples/experimental/9p.yaml
  examples/experimental/armv7l.yaml
  examples/experimental/riscv64.yaml
  examples/experimental/virtiofs-linux.yaml
  examples/ubuntu.yaml
  examples/vmnet.yaml
Labels: guest/debian, guest/ubuntu, guest/fedora, guest/el9

#1729 Go 1.21
  .github/workflows/release.yml
  .github/workflows/test.yml
  go.mod
  go.sum
Labels: priority/high

#1731 README.md: remove "(on macOS, in most cases)"
  README.md
Labels: documentation

#1733 go.mod: k8s.io/* v0.27.4
  go.mod
  go.sum
  pkg/guestagent/kubernetesservice/kubernetesservice.go
Labels: dependencies, go, kubernetes

#1740 dns: make a debug message more descriptive
  pkg/hostagent/dns/dns.go
Labels: component/dns

#1743 qemu: ask to sign QEMU binary when the binary is not properly signed
  pkg/qemu/entitlementutil/entitlementutil.go
  pkg/qemu/qemu.go
  pkg/start/start.go
Labels: priority/high, component/qemu

#1750 fix(lint): update homebrew formula links
  README.ja.md
  README.md
  README.zh.md
Labels: documentation, area/homebrew

#1748 chore: replace deprecated poll method
  pkg/guestagent/kubernetesservice/kubernetesservice.go
  pkg/guestagent/kubernetesservice/kubernetesservice_test.go
Labels: kubernetes

#1738 Delete the conf file when instance is stopped
  examples/default.yaml
  examples/experimental/rke2.yaml
  examples/k3s.yaml
  examples/k8s.yaml
  pkg/hostagent/hostagent.go
  pkg/limayaml/limayaml.go
Labels: kubernetes

#1757 CI: fix QEMU binary signature
  .github/workflows/test.yml
  hack/fix-qemu-signature.sh
Labels: area/test, area/homebrew, component/qemu

#1763 Use pkgs.k8s.io instead of apt.k8s.io for k8s
  examples/k8s.yaml
Labels: kubernetes
