Repository lima-vm/lima, pull requests merged in 2023-06, with the labels that each got.

#1597 Support for display with vz driver
  cmd/limactl/hostagent.go
  pkg/driver/driver.go
  pkg/hostagent/hostagent.go
  pkg/start/start.go
  pkg/vz/vm_darwin.go
  pkg/vz/vz_driver_darwin.go
Labels: component/vz

#1593 Add fallback for the centos-stream image
  examples/centos-stream-9.yaml
Labels: guest/el9

#1602 Fix crash in vz driver when Video.Display is not set
  pkg/limayaml/defaults.go
  pkg/vz/vz_driver_darwin.go
Labels: component/vz

#1511 CI: add vz
  .github/workflows/test.yml
  hack/test-example.sh
Labels: area/test, component/vz

#1604 .golangci.yml: enable staticcheck
  .github/workflows/test.yml
  .golangci.yml
  cmd/lima-guestagent/daemon_linux.go
  cmd/lima-guestagent/install_systemd_linux.go
  cmd/limactl/completion.go
  cmd/limactl/debug.go
  cmd/limactl/delete.go
  cmd/limactl/disk.go
  cmd/limactl/edit.go
  cmd/limactl/factory-reset.go
  cmd/limactl/info.go
  cmd/limactl/list.go
  cmd/limactl/prune.go
  cmd/limactl/shell.go
  cmd/limactl/show_ssh.go
  cmd/limactl/snapshot.go
  cmd/limactl/start.go
  cmd/limactl/stop.go
  cmd/limactl/usernet.go
  cmd/limactl/validate.go
  pkg/cidata/cidata_test.go
  pkg/downloader/downloader.go
  pkg/downloader/downloader_test.go
  pkg/driver/driver.go
  pkg/editutil/editutil.go
  pkg/guestagent/api/server/server.go
  pkg/guestagent/guestagent_linux.go
  pkg/hostagent/api/server/server.go
  pkg/hostagent/hostagent.go
  pkg/hostagent/mount.go
  pkg/hostagent/requirements.go
  pkg/iso9660util/iso9660util.go
  pkg/networks/reconcile/reconcile.go
  pkg/networks/usernet/client.go
  pkg/networks/usernet/recoincile.go
  pkg/qemu/qemu_driver.go
  pkg/start/start.go
  pkg/vz/vm_darwin.go
  pkg/vz/vz_driver_darwin.go
  pkg/vz/vz_driver_others.go
Labels: area/test

#1596 vz: drop dependency on qemu-img
  cmd/limactl/stop.go
  go.mod
  go.sum
  pkg/nativeimgutil/nativeimgutil.go
  pkg/osutil/osutil_unix.go
  pkg/osutil/osutil_windows.go
  pkg/store/disk.go
  pkg/vz/disk.go
  pkg/vz/vm_darwin.go
Labels: impact/changelog, component/vz

#1613 vz: enable virtiofs by default
  docs/mount.md
  examples/default.yaml
  pkg/limayaml/defaults.go
  pkg/limayaml/defaults_test.go
Labels: impact/changelog, component/vz

#1615 Use debian genericcloud instead of generic images
  examples/debian.yaml
Labels: guest/debian

#1628 qemu: Add virtiofs support on Linux
  docs/experimental.md
  docs/mount.md
  examples/README.md
  examples/experimental/virtiofs-linux.yaml
  hack/test-example.sh
  pkg/limayaml/defaults.go
  pkg/limayaml/defaults_test.go
  pkg/limayaml/limayaml.go
  pkg/limayaml/validate.go
  pkg/qemu/qemu.go
  pkg/qemu/qemu_driver.go
  pkg/store/filenames/filenames.go
Labels: component/qemu

#1635 add debian 12 bookworm
  examples/README.md
  examples/debian-11.yaml
  examples/debian-12.yaml
  examples/debian.yaml
  hack/test-example.sh
Labels: guest/debian

#1633 Add support for armv7l architecture
  Makefile
  docs/experimental.md
  docs/internal.md
  examples/README.md
  examples/default.yaml
  examples/experimental/armv7l.yaml
  pkg/limayaml/defaults.go
  pkg/limayaml/defaults_test.go
  pkg/limayaml/limayaml.go
  pkg/limayaml/validate.go
  pkg/qemu/qemu.go
Labels: platform/ARM, component/qemu

#1640 Fix unable to use the network proxy configuration of the MacOS(10.15)
  pkg/osutil/dns_darwin.go
Labels: component/dns

#1642 Silence "field mounts[%d].virtiofs.queueSize is only supported on Linux" when it is not specified
  pkg/limayaml/defaults.go
Labels: component/qemu
