Repository lima-vm/lima, pull requests merged in 2023-11, with the labels that each got.

#1977 k8s: wait for coredns deployment to be available
  examples/k8s.yaml
Labels: kubernetes

#1981 `codesign --xml` requires macOS Monterey or later
  pkg/start/start.go
Labels: component/qemu

#1976 Fix website github links
  website/hugo.toml
Labels: documentation

#1980 docs: fix typo in 'GitHub'
  .github/workflows/test.yml
  ROADMAP.md
  hack/test-port-forwarding.pl
  website/hugo.toml
Labels: documentation

#1997 templates: update Fedora to 39
  examples/fedora.yaml
  examples/podman-rootful.yaml
  examples/podman.yaml
Labels: guest/fedora

#2008 website: update colima logo
  website/static/images/users/colima.png
Labels: documentation, downstream/colima

#2012 Add usernetes with docker example
  examples/README.md
  examples/experimental/u7s.yaml
Labels: kubernetes

#2019 website: use svg for colima logo
  website/data/adoptors.yaml
  website/static/images/users/colima.png
  website/static/images/users/colima.svg
Labels: documentation, downstream/colima

#2023 Fix for default network for user-v2
  pkg/networks/config.go
  pkg/networks/config_test.go
Labels: component/network/user-v2

#2024 templates: Update Rocky Linux to 8.9 and 9.3
  examples/rocky-8.yaml
  examples/rocky-9.yaml
Labels: guest/el8, guest/el9

#2020 fix usb-bus for qemu 6
  pkg/qemu/qemu.go
Labels: platform/ARM, component/qemu

#2009 hostagent: avoid requiring `fuser` and `ss` in the guest ; CI: update colima (v0.5.5→v0.6.5)
  .github/workflows/test.yml
  pkg/hostagent/hostagent.go
  pkg/hostagent/requirements.go
Labels: area/test, downstream/colima

#2026 vz: use DiskImageCachingModeCached (rumored to fix disk corruption on ARM)
  pkg/vz/vm_darwin.go
Labels: component/vz

#2027 templates: update AlmaLinux to 9.3; update Arch Linux, CentOS Stream, Debian, Ubuntu
  examples/almalinux-9.yaml
  examples/apptainer-rootful.yaml
  examples/apptainer.yaml
  examples/archlinux.yaml
  examples/centos-stream-8.yaml
  examples/centos-stream-9.yaml
  examples/debian-11.yaml
  examples/debian-12.yaml
  examples/docker-rootful.yaml
  examples/docker.yaml
  examples/experimental/rke2.yaml
  examples/experimental/u7s.yaml
  examples/faasd.yaml
  examples/k3s.yaml
  examples/k8s.yaml
  examples/ubuntu-lts.yaml
Labels: guest/archlinux, guest/debian, guest/ubuntu, guest/el8, guest/fedora, guest/el9

#2033 Update /mnt/data/etc/network/interfaces on each boot
  pkg/cidata/cidata.TEMPLATE.d/boot/04-persistent-data-volume.sh
  pkg/cidata/cidata.TEMPLATE.d/boot/50-alpine-fix.sh
Labels: guest/alpine

#2038 update golangci-lint (1.55.2)
  .github/workflows/test.yml
Labels: area/test

#2043 templates: update AlmaLinux, CentOS Stream, Oracle Linux
  examples/almalinux-8.yaml
  examples/centos-stream-8.yaml
  examples/centos-stream-9.yaml
  examples/oraclelinux-8.yaml
  examples/oraclelinux-9.yaml
Labels: guest/el8, guest/el9

#2044 nerdctl: update to v1.7.1
  pkg/limayaml/defaults.go
Labels: component/nerdctl
