Repository lima-vm/lima, pull requests merged in 2023-10, with the labels that each got.

#1866 wsl2: temporarily remove docs
  pkg/wsl2/wsl_driver_windows.go
  website/content/en/docs/Config/Mount/_index.md
  website/content/en/docs/Config/VMType/_index.md
Labels: documentation, platform/Windows

#1871 k8s: Stop using LIMA_CIDATA_SLIRP_IP_ADDRESS
  examples/k8s.yaml
Labels: kubernetes

#1874 golangci-lint v1.54.2
  .github/workflows/test.yml
Labels: area/test

#1886 Update user-v2 network document with configurable gateway
  website/content/en/docs/Config/Network/_index.md
Labels: documentation, component/network/user-v2

#1876 Make icons corresponding to links clickable
  website/content/en/_index.html
  website/data/helpfullinks.yaml
  website/layouts/shortcodes/blocks/helpfullinks.html
Labels: documentation

#1840 Add "plain" mode (disables mounts, port forwarding, containerd, etc.)
  cmd/limactl/editflags/editflags.go
  examples/default.yaml
  pkg/cidata/cidata.TEMPLATE.d/boot.sh
  pkg/cidata/cidata.TEMPLATE.d/lima.env
  pkg/cidata/cidata.go
  pkg/cidata/template.go
  pkg/hostagent/hostagent.go
  pkg/hostagent/requirements.go
  pkg/limayaml/defaults.go
  pkg/limayaml/defaults_test.go
  pkg/limayaml/limayaml.go
  pkg/start/start.go
  pkg/vz/vz_driver_darwin.go
  pkg/wsl2/wsl_driver_windows.go
  website/content/en/docs/faq/_index.md
Labels: enhancement, impact/changelog

#1873 Add `limactl protect <INSTANCE>` to prohibit accidental removal
  cmd/limactl/delete.go
  cmd/limactl/main.go
  cmd/limactl/protect.go
  cmd/limactl/unprotect.go
  pkg/store/filenames/filenames.go
  pkg/store/instance.go
  website/content/en/docs/dev/Internals/_index.md
Labels: enhancement, area/cli

#1898 Fix DNS issue with alpine after upgrade
  pkg/cidata/cidata.TEMPLATE.d/boot/50-alpine-fix.sh
  pkg/networks/usernet/gvproxy.go
Labels: guest/alpine, component/dns, downstream/colima

#1883 ci: add WSL2 CI
  .github/workflows/test.yml
  examples/experimental/wsl2.yaml
  pkg/store/instance_windows.go
  pkg/wsl2/lima-init.TEMPLATE
  pkg/wsl2/vm_windows.go
Labels: area/test, platform/Windows

#1903 Revert "wsl2: temporarily remove docs"
  pkg/wsl2/wsl_driver_windows.go
  website/content/en/docs/Config/Mount/_index.md
  website/content/en/docs/Config/VMType/_index.md
Labels: documentation, platform/Windows

#1908 CI: debug "Upgrade test"
  .github/workflows/test.yml
Labels: area/test

#1911 Update nerdctl to v1.6.1, Ubuntu to 23.10, etc.
  examples/apptainer-rootful.yaml
  examples/apptainer.yaml
  examples/archlinux.yaml
  examples/buildkit.yaml
  examples/centos-stream-8.yaml
  examples/centos-stream-9.yaml
  examples/debian-11.yaml
  examples/debian-12.yaml
  examples/default.yaml
  examples/docker-rootful.yaml
  examples/docker.yaml
  examples/experimental/9p.yaml
  examples/experimental/armv7l.yaml
  examples/experimental/riscv64.yaml
  examples/experimental/rke2.yaml
  examples/experimental/virtiofs-linux.yaml
  examples/experimental/vnc.yaml
  examples/faasd.yaml
  examples/k3s.yaml
  examples/k8s.yaml
  examples/ubuntu-lts.yaml
  examples/ubuntu.yaml
  examples/vmnet.yaml
  pkg/cidata/cidata.TEMPLATE.d/boot/40-install-containerd.sh
  pkg/limayaml/defaults.go
Labels: guest/archlinux, guest/debian, guest/ubuntu, component/nerdctl, guest/el8, guest/el9

#1912 nerdctl: update to v1.6.2
  pkg/limayaml/defaults.go
Labels: component/nerdctl

#1926 Set secontext for rosetta in selinux supported distros
  pkg/cidata/cidata.TEMPLATE.d/boot/05-rosetta-volume.sh
Labels: platform/ARM, guest/el8, guest/fedora, guest/el9, component/vz

#1943 hack/test-upgrade.sh: deflake
  .github/workflows/test.yml
  hack/test-upgrade.sh
Labels: area/test

#1944 pkg/downloader,pkg/network: fix tests on Windows
  pkg/downloader/downloader_test.go
  pkg/networks/usernet/gvproxy_test.go
Labels: area/test, platform/Windows

#1948 docs: fix typos
  website/content/en/docs/Config/Mount/_index.md
  website/content/en/docs/faq/_index.md
Labels: documentation

#1949 test: refactor asserts
  pkg/cidata/cidata_test.go
  pkg/networks/config_test.go
  pkg/networks/usernet/config_test.go
  pkg/networks/usernet/gvproxy_test.go
Labels: area/test, kind/refactoring

#1952 CI: vz: uninstall qemu
  .github/workflows/test.yml
Labels: area/test, component/vz

#1942 Set secontext for bind volumes in selinux enabled distros
  .github/workflows/test.yml
  hack/test-selinux.sh
  hack/test-templates.sh
  pkg/cidata/cidata.TEMPLATE.d/boot/05-lima-mounts.sh
Labels: guest/el8, guest/fedora, guest/el9, component/vz

#1954 CI: upgrade test: bump up the old Lima (v0.10.0→v0.15.1)
  .github/workflows/test.yml
  hack/test-upgrade.sh
Labels: area/test

#1966 Enable gofumpt, whitespace linters
  .golangci.yml
  cmd/lima-guestagent/daemon_linux.go
  cmd/lima-guestagent/install_systemd_linux.go
  cmd/lima-guestagent/main_linux.go
  cmd/limactl/copy.go
  cmd/limactl/debug.go
  cmd/limactl/delete.go
  cmd/limactl/disk.go
  cmd/limactl/edit.go
  cmd/limactl/editflags/editflags.go
  cmd/limactl/factory-reset.go
  cmd/limactl/gendoc.go
  cmd/limactl/hostagent.go
  cmd/limactl/main.go
  cmd/limactl/protect.go
  cmd/limactl/shell.go
  cmd/limactl/show_ssh.go
  cmd/limactl/snapshot.go
  cmd/limactl/start.go
  cmd/limactl/stop.go
  cmd/limactl/unprotect.go
  cmd/limactl/usernet.go
  cmd/limactl/validate.go
  pkg/bicopy/bicopy.go
  pkg/cidata/cidata.go
  pkg/downloader/downloader.go
  pkg/downloader/downloader_test.go
  pkg/editutil/editorcmd/editorcmd.go
  pkg/guestagent/api/api.go
  pkg/guestagent/iptables/iptables_test.go
  pkg/hostagent/dns/dns_test.go
  pkg/hostagent/hostagent.go
  pkg/hostagent/mount.go
  pkg/hostagent/requirements.go
  pkg/limayaml/limayaml.go
  pkg/limayaml/validate.go
  pkg/lockutil/lockutil_windows.go
  pkg/nativeimgutil/nativeimgutil.go
  pkg/networks/config.go
  pkg/networks/reconcile/reconcile.go
  pkg/networks/usernet/client.go
  pkg/networks/usernet/config_test.go
  pkg/networks/usernet/dnshosts/dnshosts_test.go
  pkg/networks/usernet/gvproxy.go
  pkg/networks/usernet/recoincile.go
  pkg/networks/validate.go
  pkg/osutil/user.go
  pkg/qemu/qemu.go
  pkg/sshutil/sshutil.go
  pkg/store/instance.go
  pkg/store/instance_test.go
  pkg/textutil/textutil_test.go
  pkg/version/version.go
  pkg/vz/network_darwin.go
  pkg/vz/vm_darwin.go
  pkg/vz/vz_driver_darwin.go
  pkg/windows/registry_windows.go
  pkg/yqutil/yqutil.go
Labels: area/test

#1963 Don't run tests on docs changes
  .github/workflows/test.yml
Labels: documentation, area/test

#1968 vz: trivial changes
  cmd/limactl/factory-reset.go
  pkg/driver/driver.go
  pkg/osutil/osversion_darwin.go
  pkg/osutil/osversion_others.go
  pkg/qemu/qemu.go
  pkg/start/start.go
  pkg/vz/vz_driver_darwin.go
Labels: component/vz

#1971 hostagent/dns: fix panic in TestDNSRecords on Windows
  pkg/hostagent/dns/dns_test.go
Labels: area/test, platform/Windows, component/dns

#1970 pkg/limayaml: replace github.com/xorcare/pointer with ptr
  go.mod
  go.sum
  pkg/cidata/cidata_test.go
  pkg/limayaml/defaults.go
  pkg/limayaml/defaults_test.go
  pkg/ptr/ptr.go
  pkg/ptr/ptr_test.go
Labels: kind/refactoring
