Repository lima-vm/lima, pull requests merged in 2024-04, with the labels that each got.

#2262 Replace github.com/gorilla/mux with net/http
  cmd/limactl/hostagent.go
  go.mod
  go.sum
  pkg/hostagent/api/server/server.go
Labels: kind/refactoring

#2275 The cloud-init documentation was remodelled
  examples/default.yaml
  website/content/en/docs/dev/Internals/_index.md
Labels: documentation

#2292 templates: update Fedora to 40
  examples/fedora.yaml
  examples/podman-rootful.yaml
  examples/podman.yaml
Labels: guest/fedora

#2299 Bump alpine image to 0.2.38
  examples/alpine.yaml
Labels: guest/alpine

#2300 templates: update Ubuntu to 24.04
  examples/apptainer-rootful.yaml
  examples/apptainer.yaml
  examples/buildkit.yaml
  examples/default.yaml
  examples/docker-rootful.yaml
  examples/docker.yaml
  examples/experimental/9p.yaml
  examples/experimental/armv7l.yaml
  examples/experimental/net-user-v2.yaml
  examples/experimental/riscv64.yaml
  examples/experimental/rke2.yaml
  examples/experimental/u7s.yaml
  examples/experimental/virtiofs-linux.yaml
  examples/experimental/vnc.yaml
  examples/experimental/vz.yaml
  examples/faasd.yaml
  examples/k3s.yaml
  examples/k8s.yaml
  examples/ubuntu-lts.yaml
  examples/ubuntu.yaml
  examples/vmnet.yaml
  hack/test-templates/test-misc.yaml
  website/content/en/docs/Config/VMType/_index.md
Labels: guest/ubuntu

#2304 nerdctl: update to v1.7.6
  pkg/limayaml/defaults.go
Labels: component/nerdctl

#2308 templates: update Arch Linux, CentOS Stream, and Debian
  examples/archlinux.yaml
  examples/centos-stream-8.yaml
  examples/centos-stream-9.yaml
  examples/debian-11.yaml
  examples/debian-12.yaml
Labels: guest/archlinux, guest/debian, guest/el8, guest/el9
