Repository lima-vm/lima, pull requests merged in 2024-08, with the labels that each got.

#2523 CI: enable actions/attest-build-provenance
  .github/workflows/release.yml
Labels: area/test

#2542 CI: use ubuntu-24.04
  .github/workflows/test.yml
  pkg/cidata/cidata.TEMPLATE.d/boot/05-lima-disks.sh
Labels: area/test, host/Linux

#2543 Revert "Temporarily disable CI on archlinux"
  .github/workflows/test.yml
  examples/archlinux.yaml
Labels: guest/archlinux, host/Linux, component/qemu/9p

#2541 test.yml: use `inject-cmdline-to-template.sh` to append `no_timer_check` kernel command line option
  .github/workflows/test.yml
  hack/inject-cmdline-to-template.sh
Labels: area/test

#2553 templates: update to the latest revisions
  examples/alpine-image.yaml
  examples/apptainer-rootful.yaml
  examples/apptainer.yaml
  examples/archlinux.yaml
  examples/buildkit.yaml
  examples/centos-stream-9.yaml
  examples/debian-11.yaml
  examples/default.yaml
  examples/docker-rootful.yaml
  examples/docker.yaml
  examples/experimental/9p.yaml
  examples/experimental/alsa.yaml
  examples/experimental/armv7l.yaml
  examples/experimental/riscv64.yaml
  examples/experimental/rke2.yaml
  examples/experimental/u7s.yaml
  examples/experimental/virtiofs-linux.yaml
  examples/experimental/vnc.yaml
  examples/faasd.yaml
  examples/k3s.yaml
  examples/k8s.yaml
  examples/opensuse.yaml
  examples/ubuntu.yaml
  examples/vmnet.yaml
Labels: guest/archlinux, guest/debian, guest/ubuntu, guest/alpine, guest/opensuse

#2566 templates: update Ubuntu, EL9
  examples/almalinux-9.yaml
  examples/apptainer-rootful.yaml
  examples/apptainer.yaml
  examples/buildkit.yaml
  examples/centos-stream-9.yaml
  examples/default.yaml
  examples/docker-rootful.yaml
  examples/docker.yaml
  examples/experimental/9p.yaml
  examples/experimental/alsa.yaml
  examples/experimental/armv7l.yaml
  examples/experimental/riscv64.yaml
  examples/experimental/rke2.yaml
  examples/experimental/u7s.yaml
  examples/experimental/virtiofs-linux.yaml
  examples/experimental/vnc.yaml
  examples/faasd.yaml
  examples/k3s.yaml
  examples/k8s.yaml
  examples/rocky-9.yaml
  examples/ubuntu.yaml
  examples/vmnet.yaml
Labels: guest/el9

#1951 Use VZ by default for new instances on macOS >= 13.5
  .github/workflows/test.yml
  cmd/limactl/editflags/editflags.go
  examples/default.yaml
  examples/experimental/vz.yaml
  pkg/limayaml/defaults.go
  pkg/limayaml/defaults_test.go
  pkg/limayaml/validate.go
  pkg/vz/vz_driver_darwin.go
  website/content/en/docs/config/multi-arch/_index.md
  website/content/en/docs/config/network/_index.md
  website/content/en/docs/config/vmtype/_index.md
  website/content/en/docs/releases/experimental/_index.md
Labels: impact/changelog, component/vz

#2508 test.yml: use image cache with parameters created from template
  .github/actions/setup_cache_for_template/action.yml
  .github/workflows/test.yml
  hack/cache-common-inc.sh
  hack/calculate-cache.sh
  hack/debug-cache.sh
Labels: area/test
