Repository lima-vm/lima, pull requests merged in 2024-05, with the labels that each got.

#2310 CI: move 9p and test-misc from macOS to Linux; remove deprecated vde
  .github/workflows/test.yml
Labels: area/test

#2311 Remove the support for `vde_vmnet` (Deprecated since Sep 2022, in favor of `socket_vmnet`)
  examples/default.yaml
  examples/vmnet.yaml
  pkg/limayaml/defaults.go
  pkg/limayaml/defaults_test.go
  pkg/limayaml/limayaml.go
  pkg/limayaml/validate.go
  pkg/networks/commands.go
  pkg/networks/commands_darwin_test.go
  pkg/networks/commands_test.go
  pkg/networks/config.go
  pkg/networks/networks.TEMPLATE.yaml
  pkg/networks/networks.go
  pkg/networks/reconcile/reconcile.go
  pkg/networks/sudoers.go
  pkg/networks/validate.go
  pkg/qemu/qemu.go
  website/content/en/docs/Config/Network/_index.md
  website/content/en/docs/Releases/Deprecated/_index.md
  website/content/en/docs/faq/_index.md
Labels: component/network/vmnet, impact/changelog

#2317 Fix "FATA[0002] networks.yaml field `paths.varRun` error: path "." is not an absolute path"
  pkg/networks/config.go
Labels: component/network/vmnet

#2318 templates: update Arch Linux to 20240501.233015
  examples/archlinux.yaml
Labels: guest/archlinux

#2320 apptainer: fix AppArmor incompatibility with Ubuntu 24.04
  examples/apptainer.yaml
Labels: guest/ubuntu

#2344 Document the cache directory location
  website/content/en/docs/dev/Internals/_index.md
Labels: documentation

#2363 Use UEFI instead of BIOS for alpine-image
  examples/alpine-image.yaml
Labels: guest/alpine

#2353 website: add community governance, etc.
  .github/workflows/release.yml
  MAINTAINERS.md
  README.md
  ROADMAP.md
  website/content/en/docs/Community/Contributing/_index.md
  website/content/en/docs/Community/Governance/_index.md
  website/content/en/docs/Community/Roadmap/_index.md
  website/content/en/docs/Community/Subprojects/_index.md
  website/content/en/docs/Community/_index.md
  website/layouts/partials/community_links.html
Labels: documentation

#2336 Update almalinux 9 sample to 9.4
  examples/almalinux-9.yaml
Labels: guest/el9
