Repository lima-vm/lima, pull requests merged in 2024-11, with the labels that each got.

#2826 Add `hack/update-template-fedora.sh`
  hack/update-template-alpine.sh
  hack/update-template-fedora.sh
  hack/update-template.sh
Labels: guest/fedora

#2823 CI: add back archlinux
  .github/workflows/test.yml
  templates/README.md
  templates/archlinux.yaml
Labels: guest/archlinux, area/test

#2831 Bump alpine-iso to 0.2.41
  templates/alpine-iso.yaml
Labels: guest/alpine

#2849 Silence `WARN[0001] vmType vz: ignoring [MinimumLimaVersion]`
  pkg/vz/vz_driver_darwin.go
Labels: component/vz

#2178 nerdctl: update to v2.0.0
  pkg/limayaml/containerd.yaml
Labels: component/nerdctl

#2852 Add `hack/update-template-opensuse.sh`
  hack/cache-common-inc.sh
  hack/update-template-opensuse.sh
  hack/update-template.sh
Labels: guest/opensuse

#2860 Avoid crash when tunnel cannot be opened
  pkg/portfwd/client.go
Labels: area/portfwd

#2864 Revert the default port forwarder to SSH
  pkg/hostagent/hostagent.go
  website/content/en/docs/config/Port/_index.md
Labels: area/portfwd

#2873 test-templates.sh: fix wrong comment "binds to 0.0.0.0 by default"
  hack/test-templates.sh
Labels: area/test, area/portfwd

#2861 Make sure err isn't nil when returning failure
  .github/workflows/test.yml
  hack/test-templates.sh
  pkg/hostagent/port_darwin.go
  pkg/portfwd/listener.go
  pkg/portfwd/listener_darwin.go
Labels: area/portfwd

#2881 website: misc updates
  website/content/en/docs/_index.md
  website/content/en/docs/community/contributing.md
  website/content/en/docs/community/governance.md
  website/content/en/docs/community/roadmap.md
  website/content/en/docs/community/subprojects.md
  website/content/en/docs/config/environment-variables.md
  website/content/en/docs/config/mount.md
  website/content/en/docs/config/multi-arch.md
  website/content/en/docs/config/network.md
  website/content/en/docs/config/port.md
  website/content/en/docs/config/vmtype.md
  website/content/en/docs/dev/internals.md
  website/content/en/docs/dev/testing.md
  website/content/en/docs/faq/_index.md
  website/content/en/docs/faq/colima.md
  website/content/en/docs/installation/_index.md
  website/content/en/docs/releases/deprecated.md
  website/content/en/docs/releases/experimental.md
  website/content/en/docs/security/_index.md
  website/content/en/docs/talks/_index.md
Labels: documentation

#2877 Make sure that root is in the sudoers file on Alpine
  pkg/cidata/cidata.TEMPLATE.d/boot/00-alpine-user-group.sh
Labels: guest/alpine

#2863 Update `inject-cmdline-to-template.sh`
  hack/inject-cmdline-to-template.sh
Labels: area/test, kind/refactoring

#2936 templates: update rocky-9 template to version 9.5
  templates/rocky-9.yaml
Labels: guest/el9

#2840 CI: remove macos-12
  .github/workflows/test.yml
  hack/common.inc.sh
  hack/test-templates.sh
Labels: area/test, component/network/vmnet

#2943 fix: start-at-login generating systemd target
  pkg/autostart/autostart_test.go
  pkg/autostart/lima-vm@INSTANCE.service
Labels: host/Linux
