Repository lima-vm/lima, pull requests merged in 2024-10, with the labels that each got.

#2592 qemu: riscv64: switch from u-boot to EDK2
  .github/workflows/test.yml
  examples/experimental/riscv64.yaml
  pkg/limayaml/validate.go
  pkg/qemu/qemu.go
  pkg/qemu/qemu_driver.go
Labels: component/qemu

#2679 CI: SOCKET_VMNET_VERSION: v1.1.5
  .github/workflows/test.yml
Labels: area/test, component/network/vmnet

#2683 templates: Arch Linux: legacyBIOS no longer needs to be enabled
  examples/archlinux.yaml
  website/content/en/docs/config/vmtype/_index.md
Labels: guest/archlinux

#2530 vz: add support for nested virtualization
  go.mod
  go.sum
  pkg/limayaml/defaults.go
  pkg/limayaml/defaults_test.go
  pkg/limayaml/limayaml.go
  pkg/vz/vm_darwin.go
  pkg/vz/vz_driver_darwin.go
Labels: component/vz

#2706 Disable `ssh.loadDotSSHPubKeys` by default
  examples/default.yaml
  pkg/limayaml/defaults.go
  pkg/limayaml/defaults_test.go
  pkg/limayaml/limayaml.go
Labels: impact/changelog

#2704 templates: replace `alpine` with `alpine-image`
  .github/workflows/test.yml
  examples/README.md
  examples/alpine-image.yaml
  examples/alpine-iso.yaml
  examples/alpine.yaml
  hack/calculate-cache.sh
  hack/test-templates.sh
  hack/test-templates/alpine-iso-9p-writable.yaml
  pkg/cidata/cidata.TEMPLATE.d/boot/10-alpine-prep.sh
Labels: guest/alpine, impact/changelog

#2711 CI: vz: try macos-15-large (Intel)
  .github/workflows/test.yml
Labels: area/test, component/vz

#2717 CI: temporarily remove ArchLinux (and demote it from Tier 1)
  .github/workflows/test.yml
  examples/README.md
Labels: guest/archlinux, area/test

#2680 Fix packet forwarding between vz and socket_vmnet
  go.mod
  pkg/vz/network_darwin.go
  pkg/vz/network_darwin_test.go
Labels: component/network/vmnet, component/vz

#2725 rootless: allocate 1G subuids from 524288 (0x80000)
  pkg/cidata/cidata.TEMPLATE.d/boot/20-rootless-base.sh
Labels: component/nerdctl

#2726 Refactor limayaml.Save and store.SaveYAML → limayaml.Marshal
  cmd/limactl/validate.go
  pkg/limayaml/limayaml_test.go
  pkg/limayaml/load.go
  pkg/limayaml/marshal.go
  pkg/limayaml/marshal_test.go
  pkg/limayaml/save.go
  pkg/store/store.go
Labels: kind/refactoring

#2729 Fix locktuil on windows
  pkg/lockutil/lockutil_test.go
  pkg/lockutil/lockutil_windows.go
Labels: platform/Windows

#2718 Fix nativeimgutil.ConvertToRaw()
  pkg/nativeimgutil/nativeimgutil.go
Labels: component/vz, cherry-pick/v0.23

#2735 osutil: remove Ftruncate
  pkg/nativeimgutil/nativeimgutil.go
  pkg/osutil/osutil_unix.go
  pkg/osutil/osutil_windows.go
Labels: kind/refactoring

#2734 networks.Validate() requires that socket_vmnet is owned by root
  cmd/limactl/sudoers.go
  examples/vmnet.yaml
  pkg/networks/networks.TEMPLATE.yaml
  pkg/networks/validate.go
  pkg/store/filenames/filenames.go
  website/content/en/docs/config/network/_index.md
Labels: component/network/vmnet, impact/changelog

#2740 Configure code scanning with GitHub CodeQL
  .github/workflows/codeql.yaml
Labels: area/test

#2742 Add OSSF scorecard badge to README.md
  README.md
Labels: documentation, area/test

#2526 Add environment variables documentation
  cmd/docker.lima
  cmd/kubectl.lima
  cmd/lima
  cmd/lima.bat
  cmd/limactl/usernet.go
  website/content/en/docs/config/_index.md
  website/content/en/docs/config/environment-variables.md
Labels: documentation

#2757 CI: add spell checker
  .codespellrc
  .github/workflows/test.yml
Labels: area/test

#2759 add package-lock.json file
  website/.gitignore
  website/package-lock.json
Labels: documentation

#2758 Remove experimental notice for vz, 9p, user-v2 net, grpc forwarder
  examples/default.yaml
  pkg/hostagent/hostagent.go
  website/content/en/docs/config/Port/_index.md
  website/content/en/docs/config/mount/_index.md
  website/content/en/docs/config/multi-arch/_index.md
  website/content/en/docs/config/network/_index.md
  website/content/en/docs/config/vmtype/_index.md
  website/content/en/docs/releases/experimental/_index.md
Labels: documentation

#2766 go.mod: github.com/Code-Hex/vz v3.2.0
  go.mod
  go.sum
Labels: component/vz

#2777 Don't look for vz-identifier on other systems
  pkg/limayaml/defaults.go
Labels: component/vz

#2731 Refactor `update-template-ubuntu.sh` and add `update-template-debian.sh`
  hack/cache-common-inc.sh
  hack/update-template-debian.sh
  hack/update-template-ubuntu.sh
  hack/update-template.sh
Labels: guest/debian, guest/ubuntu

#2755 templates: update Ubuntu to 24.10
  .ls-lint.yml
  examples/default.yaml
  examples/ubuntu-24.04.yaml
  examples/ubuntu-24.10.yaml
  examples/ubuntu-lts.yaml
  examples/ubuntu.yaml
Labels: guest/ubuntu

#2780 CI: temporarily disable Windows
  .github/workflows/test.yml
Labels: area/test, platform/Windows

#2785 `[test-port-forwarding.pl]` fix: add human-readable error when nc is not installed on the host
  hack/test-port-forwarding.pl
Labels: area/test

#2788 Add `hack/update-template-archlinux.sh`
  hack/cache-common-inc.sh
  hack/update-template-archlinux.sh
  hack/update-template.sh
Labels: guest/archlinux

#2794 Add `hack/update-template-centos-stream.sh`
  hack/update-template-centos-stream.sh
  hack/update-template.sh
Labels: guest/el9

#2795 templates: add ubuntu-20.04, ubuntu-22.04
  examples/ubuntu-20.04.yaml
  examples/ubuntu-22.04.yaml
Labels: guest/ubuntu

#2802 Bump k8s flannel version from 0.24.0 to 0.26.0
  examples/k8s.yaml
Labels: kubernetes

#2803 Update Alpine 3.20.2 → 3.20.3
  examples/alpine.yaml
Labels: guest/alpine

#2800 website: network: move socket_vmnet to the bottom of the page; fix wording
  website/content/en/docs/config/network/_index.md
Labels: documentation, component/network/vmnet

#2796 Add `hack/update-template-almalinux.sh`
  hack/cache-common-inc.sh
  hack/update-template-almalinux.sh
  hack/update-template.sh
Labels: guest/el8, guest/el9

#2806 Add `hack/update-template-rocky.sh`
  hack/update-template-rocky.sh
  hack/update-template.sh
Labels: guest/el8, guest/el9

#2710 limactl: add `tunnel` command (experimental)
  cmd/limactl/main.go
  cmd/limactl/tunnel.go
  pkg/freeport/freeport.go
  pkg/freeport/freeport_unix.go
  pkg/freeport/freeport_windows.go
  pkg/hostagent/hostagent.go
  pkg/hostagent/port_darwin.go
  pkg/hostagent/port_others.go
  pkg/hostagent/port_windows.go
  website/content/en/docs/releases/experimental/_index.md
Labels: area/cli

#2812 Bump alpine-iso from 3.20.0 → 3.20.3
  templates/alpine-iso.yaml
Labels: guest/alpine

#2817 Allow "." and "_" in instance names, disallow them in hostnames
  cmd/limactl/guessarg/guessarg.go
  cmd/limactl/show-ssh.go
  cmd/limactl/tunnel.go
  pkg/cidata/cidata.TEMPLATE.d/meta-data
  pkg/cidata/cidata.go
  pkg/cidata/template.go
  pkg/hostagent/hostagent.go
  pkg/identifierutil/identifierutil.go
  pkg/identifierutil/identifierutil_test.go
  pkg/instance/ansible.go
  pkg/instance/start.go
  pkg/limayaml/defaults.go
  pkg/networks/usernet/client.go
  pkg/sshutil/format.go
  pkg/store/instance.go
  templates/default.yaml
Labels: impact/changelog

#2820 Add `hack/update-template-oraclelinux.sh`
  hack/update-template-almalinux.sh
  hack/update-template-archlinux.sh
  hack/update-template-centos-stream.sh
  hack/update-template-debian.sh
  hack/update-template-oraclelinux.sh
  hack/update-template-rocky.sh
  hack/update-template-ubuntu.sh
  hack/update-template.sh
  templates/oraclelinux-8.yaml
  templates/oraclelinux-9.yaml
Labels: guest/el8, guest/el9

#2811 Add `hack/update-template-alpine.sh`
  hack/update-template-alpine.sh
  hack/update-template.sh
Labels: guest/alpine

#2822 templates: update fedora to 41; templates: disable 9p for Linux 6.9-6.11
  pkg/limayaml/limayaml_test.go
  templates/archlinux.yaml
  templates/default.yaml
  templates/fedora.yaml
  templates/podman-rootful.yaml
  templates/podman.yaml
  templates/ubuntu-24.10.yaml
Labels: guest/fedora, component/qemu/9p

#2825 Make sure the port forwarding protocol is always lowercase
  pkg/guestagent/kubernetesservice/kubernetesservice.go
Labels: kubernetes
