Repository lima-vm/lima, pull requests merged in 2024-01, with the labels that each got.

#2114 pkg/downloader: serve test contents with local HTTP server
  pkg/downloader/downloader_test.go
  pkg/downloader/testdata/downloader.txt
Labels: area/test

#2102 k8s: stop using sudo kubectl for kubeconfig
  examples/k8s.yaml
Labels: kubernetes

#2112 Revert virtserialport back to unix socket for QEMU guest agent communication
  pkg/cidata/cidata.TEMPLATE.d/boot/25-guestagent-base.sh
  pkg/hostagent/hostagent.go
Labels: component/qemu

#2124 Add new Debian testing/trixie UEFI firmware file
  pkg/qemu/qemu.go
Labels: component/qemu

#2127 Update difference between Colima and Lima
  website/content/en/docs/faq/colima/_index.md
Labels: documentation, downstream/colima

#2136 Bump to Alpine 3.19
  examples/alpine.yaml
Labels: guest/alpine, impact/changelog

#2141 Reinstall apk packages on reboot
  pkg/cidata/cidata.TEMPLATE.d/boot/04-persistent-data-volume.sh
Labels: guest/alpine

#2145 Bump Alpine image to make sure /etc/fstab is empty
  examples/alpine.yaml
Labels: guest/alpine

#2155 CI: use standard GHA runners
  .github/workflows/test.yml
Labels: area/test

#2156 docs/config/network: mention `lima-<NAME>.internal`
  website/content/en/docs/Config/Network/_index.md
Labels: documentation, component/dns, component/network/user-v2

#2157 templates: update
  examples/archlinux.yaml
  examples/buildkit.yaml
  examples/centos-stream-8.yaml
  examples/centos-stream-9.yaml
  examples/debian-11.yaml
  examples/debian-12.yaml
  examples/default.yaml
  examples/experimental/9p.yaml
  examples/experimental/armv7l.yaml
  examples/experimental/riscv64.yaml
  examples/experimental/rke2.yaml
  examples/experimental/u7s.yaml
  examples/experimental/virtiofs-linux.yaml
  examples/experimental/vnc.yaml
  examples/ubuntu.yaml
  examples/vmnet.yaml
Labels: guest/archlinux, guest/debian, guest/ubuntu, guest/el8, guest/el9

#2163 add completion for limactl disk
  cmd/limactl/completion.go
  cmd/limactl/disk.go
Labels: area/cli

#2167 Replacing available commands with basic and advanced commands
  cmd/limactl/copy.go
  cmd/limactl/delete.go
  cmd/limactl/disk.go
  cmd/limactl/edit.go
  cmd/limactl/factory-reset.go
  cmd/limactl/info.go
  cmd/limactl/list.go
  cmd/limactl/main.go
  cmd/limactl/protect.go
  cmd/limactl/prune.go
  cmd/limactl/shell.go
  cmd/limactl/show_ssh.go
  cmd/limactl/snapshot.go
  cmd/limactl/start.go
  cmd/limactl/stop.go
  cmd/limactl/sudoers.go
  cmd/limactl/unprotect.go
  cmd/limactl/validate.go
Labels: area/cli

#2170 qemu: unfork edk2
  pkg/limayaml/defaults.go
  pkg/qemu/qemu.go
Labels: platform/ARM, component/qemu
